<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.message.dal.mysql.mapper.MessageMapper">

    <sql id="Message_Select_Columns">
        m.messageId,
        m.deviceId,
        d.deviceName,
        m.sender,
        m.message,
        m.tokens,
        m.sttDuration,
        m.ttsDuration,
        m.ttfsTime,
        m.responseTime,
        m.audioPath,
        m.state,
        m.messageType,
        m.toolCalls,
        m.sessionId,
        m.roleId,
        r.roleName,
        m.createTime,
        m.updateTime
    </sql>

    <sql id="Message_Query_Where">
        WHERE m.state = '1'
        <if test="userId != null">
            AND m.userId = #{userId}
        </if>
        <if test="deviceId != null and deviceId != ''">
            AND m.deviceId = #{deviceId}
        </if>
        <if test="messageType != null and messageType != ''">
            AND m.messageType = #{messageType}
        </if>
        <if test="deviceName != null and deviceName != ''">
            AND d.deviceName = #{deviceName}
        </if>
        <if test="startTime != null">
            AND m.createTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND m.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="sender != null and sender != ''">
            AND m.sender = #{sender}
        </if>
        <if test="roleId != null">
            AND m.roleId = #{roleId}
        </if>
    </sql>

    <select id="selectPageResp" resultType="com.xiaozhi.common.model.resp.MessageResp">
        SELECT
        <include refid="Message_Select_Columns"/>
        FROM sys_message m
        LEFT JOIN sys_device d ON m.deviceId = d.deviceId
        LEFT JOIN sys_role r ON m.roleId = r.roleId
        <include refid="Message_Query_Where"/>
        ORDER BY m.createTime DESC, m.sender DESC
    </select>
</mapper>
